In [12]:
import pandas as pd
from datetime import date, timedelta
import math

In [13]:
df = pd.read_csv('mini_data.csv')

df['Date'] = pd.to_datetime(df['Date']).dt.date

week_prior = df['Date'].max() - timedelta(weeks=1)

df_last_week = df[df['Date'] > week_prior]

In [15]:
pivoted = df_last_week.pivot(index='Player', columns='Date', values='Seconds')

In [16]:
pivoted_median = pivoted.copy()

In [17]:
pivoted_median['Median last Week'] = pivoted_median.median(numeric_only=True, axis = 1)

In [18]:
pivoted_median[pivoted_median['Median last Week']==pivoted_median['Median last Week'].min()].index[0]

'Seibert'

In [19]:
pivoted_median

Date,2022-07-11,2022-07-12,2022-07-13,2022-07-14,2022-07-15,2022-07-16,2022-07-17,2022-07-18,Median last Week
Player,,,,,,,,,
E-thousand,NaN,NaN,186.0,NaN,65.0,172.0,65.0,123.0,123.0
Joshtreg,53.0,153.0,40.0,145.0,52.0,153.0,70.0,99.0,84.5
Seibert,41.0,38.0,30.0,42.0,28.0,76.0,14.0,45.0,39.5
dirk orozco,81.0,46.0,43.0,104.0,57.0,98.0,32.0,41.0,51.5

In [20]:
pivoted_median[pivoted_median.index=='Seibert']['Median last Week'][0]

39.5

In [10]:
date_list= []

for i in df_last_week['Date'].unique().tolist():
    date_list.append(i.strftime('%Y-%m-%d'))

date_list

['2022-07-10',
 '2022-07-11',
 '2022-07-12',
 '2022-07-13',
 '2022-07-14',
 '2022-07-15',
 '2022-07-16',
 '2022-07-17']

In [15]:
seibert_scores = []
for i in df_last_week.loc[df['Player']=='Seibert']['Seconds']:
    seibert_scores.append(i)
seibert_scores

[48.0, 41.0, 38.0, 30.0, 42.0, 28.0, 76.0, 14.0]

In [18]:
ellie_scores = []
for i in df_last_week.loc[df['Player']=='E-thousand']['Seconds']:
    if math.isnan(i):
        i = ''
    ellie_scores.append(i)
ellie_scores

['', '', '', 186.0, '', 65.0, 172.0, 65.0]